html{
    box-sizing: border-box;
}

div {
  
    height: 300px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
}
.lightGrey {
    background-color: lightslategrey;
}
.bigFont {
    font-size: large;
    color: whitesmoke;
    font-weight: bolder;
}

.blue {
    background-color: blue;
}

.pink {
    background-color: pink;
}

.green {
    background-color: lime;
}

.purple {
    background-color: purple;
}

.red {
    background-color: red;
}

.yellow {
    background-color: goldenrod;
}

.tan{
    background-color: tan;
}
.lightblue{
    background-color: lightblue;
}

#a{
    width: 95%;
}

#b{
    width: 90%;
}

#c{
    width: 85%;
}

#d{
    width:80%
}

