* {
  box-sizing: border-box;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: rgba(192, 192, 192, 0.1);
  display: grid;
  grid-template-columns: 200px, 1fr;
  align-items: stretch;
}

ul {
  margin: 0;
  padding: 0;
}
aside{
  position: fixed;
  border-color: rgba(0, 173, 238, 0.4);
  border-inline-style: solid;
  border-width: 1px;
  height: 100vh;
  width: 200px;
}
aside img{
  height: 120px;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
main{
  margin-left: 200px;
  
}
nav ul li{
  text-align: center;
  text-transform: uppercase;
  border-color: rgba(0, 173, 238, 0.4);
  border-width: 1px;
  border-bottom-style: solid;
  width: 50%;
  margin-left: 50px;
  margin-right: 50px;
  list-style: none;
  padding-top: 5%;
  padding-bottom: 5%;
}
nav ul li a{
  font-weight: bold;
  color: #00ADEE;
  text-decoration:none;
}
li:nth-child(1){
  text-decoration: underline;
}
main{
  padding-left: 20px;
  padding-right: 20px;
}
main header img[src="stacked-logo.png"]{
  height: 100px;
  margin-bottom: 1%;
}
img[src="https://via.placeholder.com/2400X800"] {
  width: 100%;
  padding-bottom: 1%;
}
main section div {
  width: 33%;
  display: inline-block;
}
section h2{
  color: #8CC36F;
}
h2 i{
  padding: 5%;
}
#what-we-do{
  border-right: solid;
  border-color: rgba(170, 239, 135, 0.8);
  border-width: 1px;
  padding-top: 1%;
  padding-right: 10px;
  
}
#our-work{
  border-color: rgba(170, 239, 135, 0.8);
  border-width: 1px;
  border-right-style: solid;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1%;
}
#contact-us{
  padding-left: 10px;
  padding-top: 1%;
}
section ::first-line{
  border-left: none;
}
